.inputfield {
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    width: 220px;
    height: 42px;
}

.inputfield:disabled {
    background: #e4e4e4;
    color: #4d4d4d;
}

.inputRadioSize {
    width: 100px;
    height: 35px;
}

.inputLarge {
    width: 450px;
    height: 42px;
}

.inputSmall {
    width: 220px;
    height: 35px;
}

.inputScode {
    width: 180px;
    height: 42px;
}

.inputScodeVer {
    width: 100px;
    height: 42px;
}

input {
    outline: none;
    margin: 0;
    margin-left: 8px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    font-family: inherit;
}