.bordertest {
    border: 2px solid red;
}

.icon {
    height: auto;
    width: 26px;
    transition: all 0.3s;
}

.table {
    width: 100%;
    border-collapse: collapse;
    display: block;
}
  
.tableHeader, .tableBody, .tableFooter {
    display: block;
    width: auto;
}

.tableBody {
    transition: height 0.5s ease-out;
}


.tableHeader {
    font-weight: 600;
    width: auto;
}
  
.tableHRow, .tableRow, .tableFRow {
    display: flex;
    width: auto;
    min-width: 210mm;
    
}

.tableHRow {
    background-color: #0e235c;
    color: #f1c40f;
}
  
.tableRow {
    white-space: nowrap;  
    transition: 0.3s ease-out;
}

.tableRow:nth-child(odd) {
    background-color: #a1b4e7;
}

.tableRow:nth-child(even) {
    background-color: #c2cff5;
}

.tableCell, .tableBodyCell {
    flex: 1;
    padding: 10px;
    text-align: center;

}

.tableCell {
    padding: 15px;
}

.tableBodyCell {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
  
.tableFRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.buttonTem {
    margin: 0 10px;
    background-color: #1d2d55;
    padding: 3px;
    border-radius: 6px;
}

.pagination-numbers {
    transition: transform 0.3s ease-out;
  }
  
  .slide-left {
    transform: translateX(-50%); /* Adjust based on the desired slide amount */
  }
  
  .slide-right {
    transform: translateX(50%);
  }
  
  .pagination-container {
    display: flex;
    overflow: hidden; /* This ensures numbers outside the visible area are hidden */
  }
  

/* :hover.tableRow {
    cursor: pointer;
    white-space: normal;
}
:active.tableRow {
    background-color: #1d2d55;
    color: #c3ac82;
    cursor: pointer;
} */